<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Yahoo Weather Info</display-name>
  <welcome-file-list>
    <welcome-file>hw8.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>myServletWeather</servlet-name>
    <servlet-class>myServletWeather</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>myServletWeather</servlet-name>
    <url-pattern>/myServletWeather/*</url-pattern>
</servlet-mapping>
  
</web-app>